
@font-face{
  font-family: Marcelove;
  src: url(../fonte/DK-Liquid-Embrace.ttf);
}
.titulo{
	font-family: Marcelove;
}
.texto{
	font-family: Meiryo;
}

#tam-titulo-header{
	font-size: 55px;
}

#tam-texto-header{
	font-size: 27px;
}