
@font-face{
  font-family: Marcelove;
  src: url('DK-Liquid-Embrace.ttf', font)  format('truetype');
}
.titulo{
	font-family: Marcelove;
}
.texto{
	font-family: Meiryo;
}

#tam-titulo-header{
	font-size: 55px;
}

#tam-texto-header{
	font-size: 27px;
}