/*src: url('/fonts/glyphicons-halflings-regular.eot');*/
/*src: font-url("/assets/DK-Liquid-Embrace.ttf")  format('truetype');*/
/*src: font_url("/assets/DK-Liquid-Embrace.ttf")  format('truetype');*/
/*src: asset-url("/assets/DK-Liquid-Embrace.ttf")  format('truetype');*/

@font-face{
  font-family: "Marcelove";
  src: font-url("/assets/DK-Liquid-Embrace.ttf")  format('truetype');
  font-weight: normal;
  font-style: normal;
}



.titulo{

	/*font-family: "Marcelove";*/
}
.texto{
	font-family: Meiryo;
}

#tam-titulo-header{
	font-size: 55px;
}

#tam-texto-header{
	font-size: 27px;
}



.disabled {
   pointer-events: none;
   cursor: default;
}