<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading titulo">A NOVA MANEIRA DE APRENDER!</h2>
                <hr class="light">
                <p class="text-faded texto">Somos uma escola itinerante e nascemos como uma solução à metodologia tradicional do ensino. Focamos na maneira de aprender, e assim, podemos fazer qualquer conteúdo interessante a qualquer pessoa. E Fazemos isso com nossos 3 pilares, presentes em tudo que aplicamos.</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Como fazemos!</a>
            </div>
        </div>
    </div>
</section>

