<header>
    <div class="header-content">
        <div id="page-top" class="header-content-inner">
            <h1 id="tam-titulo-header" class="titulo">APRENDA. OCUPE. IMPACTE.</h1>
            <hr>
            <p id="tam-texto-header" class="texto"><b>Aprenda com experiência, ocupe a cidade, gere impacto positivo e se conecte a mais pessoas.</b></p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">O que mais?</a>
        </div>
    </div>
</header>

