<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 class="titulo">APRENDA. OCUPE. IMPACTE.</h1>
            <hr>
            <p>Aprenda com experiência, ocupe a cidade, gere impacto positivo e se conecte a mais pessoas.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

